@font-face {
  font-family: 'Metropolis bold';
  src: url(./fonts/Metropolis-Bold.otf);
}

@font-face {
  font-family: 'Metropolis semi-bold';
  src: url(./fonts/Metropolis-SemiBold.otf);
}

@font-face {
  font-family: 'Metropolis regular';
  src: url(./fonts/Metropolis-Regular.otf);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Metropolis regular';
}

.logo {
  height: 70px;
}

.App {
  overflow-x: hidden;
}

.navbar-container {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  justify-content: center;
  margin: auto;
  background: transparent;
  transition: 0.2s;
}

.navbar-container.active {
  background-color: #121212;
}

.navbar {
  width: 80%;
  height: 75px;
}

.navbar-links-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #fff;
}

.navbar-link {
  margin: 10px;
  font-size: 1.1rem;
  font-family: 'Metropolis semi-bold';
  border-bottom: 4px solid transparent;
  text-decoration: none;
  width: 100px;
  text-align: center;
  transition: 0.2s;
}

.navbar-link:hover {
  border-bottom: #FEAA3D 4px solid;
  cursor: pointer;
}

.navbar-link:hover {
  border-bottom: #FEAA3D 4px solid;
}

#text-link {
  color: inherit;
  text-decoration: none;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(./images/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 0 55%; 
}


.home-page-text-slogan-container {
  width: 800px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.home-page-text-slogan {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Metropolis semi-bold';
}

#mobile-contact-button {
  display: none;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 425px) {
  .logo {
    height: 30px;
  }
  .navbar {
    height: 50px;
    width: 100%;
  }
  .navbar-container {
    background-color: transparent;
  }
  .home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./images/mobile-hero-image.png);
    background-repeat: no-repeat;
    background-size:  400px 250px;
    /* background-size:  cover; */
    background-position: top; 
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: #000; */
  }
  .home-page-text-slogan-container {
    width: 280px;
    height: auto;
    position: absolute;
    top: 400px;
  }
  .home-page-text-slogan {
    font-size: 2.1rem;
    color: #000;
  }
  .navbar-links-container {
    flex-direction: column;
    background-color: #121212;
    width: 100vw;
    position: relative;
  }
  .navbar-link {
    font-size: 1rem;

  }
  #mobile-contact-button {
    display: block;
    background-color: #FEAA3D;
    box-shadow: none;
    border: none;
    color: #000;
    width: 130px;
    font-family: 'Metropolis semi-bold';
}
}