@font-face {
  font-family: 'Metropolis bold';
  src: url(./fonts/Metropolis-Bold.otf);
}

@font-face {
  font-family: 'Metropolis semi-bold';
  src: url(./fonts/Metropolis-SemiBold.otf);
}

@font-face {
  font-family: 'Metropolis regular';
  src: url(./fonts/Metropolis-Regular.otf);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Metropolis regular';
}

.logo {
  height: 70px;
}

.App {
  overflow-x: hidden;
}

.mobile-hero-image-section {
  display: none;
}

.navbar-container {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100vw;
  justify-content: center;
  margin: auto;
  background: transparent;
  transition: 0.2s;
}

.navbar-container.active {
  background-color: #121212;
}

.navbar {
  width: 80%;
  height: 75px;
}

.navbar-links-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #fff;
}

.navbar-link {
  margin: 10px;
  font-size: 1rem;
  font-family: 'Metropolis semi-bold';
  border-bottom: 4px solid transparent;
  text-decoration: none;
  width: 100px;
  text-align: center;
  transition: 0.2s;
}

.navbar-link:hover {
  border-bottom: #FEAA3D 4px solid;
  cursor: pointer;
}


#text-link {
  color: inherit;
  text-decoration: none;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(./images/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 0 55%; 
}

.mobile-hero-image-section {
  display: block;
}


.home-page-text-slogan-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.home-page-text-slogan {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Metropolis semi-bold';
}

#mobile-contact-button {
  display: none;
}

#about {
  position: relative;
}

.about-heading-text {
  font-family: 'Metropolis semi-bold';
  text-align: center;
  padding: 5% 0 5% 0;
}

.about-information-container {
  display: flex;
  justify-content: center;
}

.about-photo, .about-text {
  height: auto;
  margin: 0 2% 0 2%;
  width: 30%;
}

.about-photo {
  object-fit: contain;
}

#events {
  position: relative;
}

.black-cat {
  width: 18%;
  display: inline;
  position: absolute;
  top: -350px;
  right: 0;
}

.services-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.services-card {
  width: 20%;
  height: auto;
  margin: 0 20px 0 20px;
  background-color: rgba(169, 169, 169, 0.712);
}

.card-text {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Metropolis regular';
  padding: 5px 0 5px 0;
}

.card-icon {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 15%;
}

#contact {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90vw;
  height: 90vh;
  padding: 5% 0 5% 0;
}

.contact-us-form-container, .contact-us-information-container {
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contact-image {
  width: 60%;
  height: 70%;
  object-fit: cover;
  margin: auto;
}

.contact-heading-hit-us-up{
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

.contact-heading-hit-us-up, .contact-heading {
  font-family: 'Metropolis semi-bold';
  border-bottom: #FEAA3D 4px solid;
}

.contact-heading {
  width: 10%;
  text-align: center;
}

.contact-text, .contact-heading, .contact-icon-container {
  margin: auto;
}

.contact-icon {
  margin: 0 10px 0 10px;
}

.contact-us-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-text-field {
  padding-bottom: 40px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact-form-submit-button {
  background-color: #FEAA3D;
  box-shadow: none;
  border: none;
  color: #000;
  width: 20%;
  padding: 1%;
  border-radius: 5px;
  font-family: 'Metropolis semi-bold';
  margin: auto;
}

.section {
  height: 100vh;
}

@media screen and (max-device-width: 1600px) {
  .logo {
    height: 50px;
  }
  .navbar {
    width: 90%;
    height: 65px;
  }
  .navbar-container {
    background-color: transparent;
  }
  .home-container {
    background-position: center; 
  }
  .home-page-text-slogan {
    font-size: 3rem;
  }
  .navbar-link:hover {
    border-bottom: #FEAA3D 3px solid;
  }
  .about-heading-text {
    padding: 7% 0 7% 0;
  }
  .black-cat {
    top: -270px;
  }
  .about-photo, .about-text {
    width: 40%;
  }
  .about-photo {
    object-fit: cover;
  }
  .services-card {
    width: 25%;
    height: 150px;
  }
  
  .card-text {
    padding-top: 10px;
  }
  
  .card-icon {
    width: 13%;
  }
  
  #contact {
    width: 95vw;
  } 
  
  .contact-image {
    width: 80%;
    object-fit: cover;
  }
  
  .contact-heading-hit-us-up{
    width: 40%;
    margin-top: 0;
    margin-bottom: 10%;
  }
  
  .contact-heading-hit-us-up, .contact-heading {
    border-bottom: #FEAA3D 3px solid;
  }
  
  .contact-heading {
    width: 15%;
  }
  
  .contact-text-field {
    width: 90%;
  }
  
  .contact-form-submit-button {
    width: 30%;
    padding: 1.5%;
  }
}

 @media only screen and (max-width: 991.98px) {
  #contact {
    display: block;
  }
  
  .contact-us-form-container {
    width: 100%;
    height: 80%;
  }
  
  .contact-us-information-container {
    height: 20%;
  }
  
  .contact-image {
    display: none;
  }
  
  .contact-heading-hit-us-up{
    width: 40%;
  }
  
  .contact-heading-hit-us-up, .contact-heading {
    border-bottom: #FEAA3D 3px solid;
  }
  
  .contact-heading {
    width: 25%;
    padding-top: 20px;
  }
/*   
  .contact-icon {
    margin: 0 10px 0 10px;
  } */

  .contact-text-field {
    padding-bottom: 30px;
  }
  
  .contact-form-submit-button {
    padding: 1.2%;
  }
 }

@media only screen and (max-width: 767.98px) {
  .logo {
    border: green 1px solid;
  }

}

@media screen 
  and (max-width: 425px) {
  .logo {
    height: 30px;
  }
  .navbar {
    height: 50px;
    width: 100%;
  }
  .navbar-container {
    background-color: transparent;
  }
  .home-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: none;
  }

  .mobile-hero-image-section {
    width: 100vw;
    height: 30vh;
    position: absolute;
    top: 0;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(./images/hero-image.png);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: top; 
  }

  .home-page-text-slogan-container {
    width: 100vw;
    text-align: center;
    height: auto;
    position: absolute;
    top: 320px;
  }
  .home-page-text-slogan {
    font-size: 1.6rem;
    color: #000;
   
  }
  .navbar-links-container {
    flex-direction: column;
    background-color: #121212;
    width: 100vw;
    position: relative;
  }
  .navbar-link {
    font-size: 1rem;

  }
  #mobile-contact-button {

    display: block;
    background-color: #FEAA3D;
    box-shadow: none;
    border: none;
    color: #000;
    width: 130px;
    padding: 5%;
    border-radius: 5px;
    font-family: 'Metropolis semi-bold';
}
}